@using Microsoft.AspNet.Identity;
@model OGL.Models.OgloszeniaZeZdjeciamiViewModels
@using Services

@{
    ViewBag.Tytul = "Szczegóły ogłoszenia";
    ViewBag.Opis = "Szczegóły ogłoszenia z naszej aplikacji metaopis do 160 znaków";
    ViewBag.SlowaKluczowe = "Szczegóły, ogłoszenia, słowe, kluczowe, aplikacja";
}
<div class="row">
    <div class="col-sm-offset-1">
        <div class="row">
            <h2 style="display:inline">@Html.DisplayFor(model => model.Ogloszenie.Tytul)</h2><p style="display:inline">(@Html.DisplayFor(model => model.Ogloszenie.Id))</p>
        </div>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            foreach (var item in Model.Zdjecia)
            {
                <div style="float:left; padding:5px; max-width:200px; height:240px; text-align:center;" id="@Model.Zdjecia.First().Name">
                    <a href="@(System.Configuration.ConfigurationManager.AppSettings["ImageUrl"] + "zdjecia/" + ImageUpload.GetFullBlobName("large", Model.Zdjecia.First().Name))">
                        <img src="@(System.Configuration.ConfigurationManager.AppSettings["ImageUrl"] + "zdjecia/" + ImageUpload.GetFullBlobName("small", Model.Zdjecia.First().Name))" alt="" class="img-thumbnail" />
                    </a>
                </div>
            }
        }
    </div>
    <div class="col-sm-6">
        <dl class="dl-horizontal">
            <dt>
                <small>
                    Dodane przez:<br />
                    @Html.DisplayFor(model => model.Ogloszenie.DataDodania)
                </small>
            </dt>
            <dd>
                <font size="5">
                    @Html.DisplayFor(model => model.Ogloszenie.Uzytkownik.UserName)
                </font>
            </dd>

            <dd>
                <br />
                @Html.DisplayFor(model => model.Ogloszenie.Tresc)
            </dd>

        </dl>
    </div>
</div>

@foreach (var item in Model.atrybuty)
{
    <h6 class=".text-primary" > @item.atrybut.Nazwa</h6>
    <p class=".text-primary"> @item.atrybut_wartosc.Wartosc</p>

    <br/>
}


<p>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Pracownik") ||
        Model.Ogloszenie.UzytkownikId == User.Identity.GetUserId()))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Ogloszenie.Id }, new { @class = "btn btn-primary" })
        @: |
    }
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning" })

</p>
