@model Repozytorium.Models.View.OgloszeniaZKategoriiViewModels

@{
    ViewBag.Tytul = "Ogłoszenia z kategorii: " + Model.NazwaKategorii;
}

<h2>Ogłoszenia z kategorii: @Model.NazwaKategorii</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ogloszenia.First().Uzytkownik.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ogloszenia.First().Tytul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ogloszenia.First().DataDodania)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Ogloszenia)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Uzytkownik.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDodania)
            </td>
        </tr>
    }

</table>